hdf5/HDF5-File-1.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="Attribute">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Dataspace"/>
				<xs:element ref="DataType"/>
				<xs:element ref="Data"/>
			</xs:sequence>
			<xs:attribute name="Name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Data">
		<xs:complexType>
			<xs:choice>
				<xs:element name="NativeHDF5">
					<xs:complexType>
						<xs:attribute name="xlink_type" type="xs:string" fixed="locator"/>
						<xs:attribute name="xlink_href" type="xs:string" use="required"/>
						<xs:attribute name="H5Path" type="xs:string" use="required"/>
						<xs:attribute name="H5ObjectType" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:NMTOKEN">
									<xs:enumeration value="HDF5Attribute"/>
									<xs:enumeration value="HDF5Dataset"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="OBJ-XID" type="xs:ID" use="required"/>
						<xs:attribute name="start" type="xs:string"/>
						<xs:attribute name="nelems" type="xs:string" use="required"/>
						<xs:attribute name="stride" type="xs:string"/>
						<xs:attribute name="block" type="xs:string"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="DataFromFile" type="xs:string"/>
				<xs:element name="NoData">
					<xs:complexType>
						<xs:attribute name="FillValue" type="xs:string" default="0"/>
					</xs:complexType>
				</xs:element>
			</xs:choice>
			<xs:attribute name="HDF5OBJ" type="xs:IDREF"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="DataType">
		<xs:complexType>
			<xs:choice>
				<xs:element name="AtomicType">
					<xs:complexType>
						<xs:choice>
							<xs:element name="IntegerType">
								<xs:complexType>
									<xs:attribute name="ByteOrder" use="required">
										<xs:simpleType>
											<xs:restriction base="xs:NMTOKEN">
												<xs:enumeration value="BE"/>
												<xs:enumeration value="LE"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="Sign" use="required">
										<xs:simpleType>
											<xs:restriction base="xs:NMTOKEN">
												<xs:enumeration value="true"/>
												<xs:enumeration value="false"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="Size" use="required">
										<xs:simpleType>
											<xs:restriction base="xs:NMTOKEN">
												<xs:enumeration value="1"/>
												<xs:enumeration value="2"/>
												<xs:enumeration value="4"/>
												<xs:enumeration value="8"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="FloatType">
								<xs:complexType>
									<xs:attribute name="ByteOrder" use="required">
										<xs:simpleType>
											<xs:restriction base="xs:NMTOKEN">
												<xs:enumeration value="BE"/>
												<xs:enumeration value="LE"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="Size" use="required">
										<xs:simpleType>
											<xs:restriction base="xs:NMTOKEN">
												<xs:enumeration value="4"/>
												<xs:enumeration value="8"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="SignBitLocation" type="xs:string" use="required"/>
									<xs:attribute name="ExponentBits" type="xs:string" use="required"/>
									<xs:attribute name="ExponentLocation" type="xs:string" use="required"/>
									<xs:attribute name="MantissaBits" type="xs:string" use="required"/>
									<xs:attribute name="MantissaLocation" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="StringType">
								<xs:complexType>
									<xs:attribute name="Cset" use="required">
										<xs:simpleType>
											<xs:restriction base="xs:NMTOKEN">
												<xs:enumeration value="H5T_CSET_ASCII"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="StrSize" type="xs:string" use="required"/>
									<xs:attribute name="StrPad" use="required">
										<xs:simpleType>
											<xs:restriction base="xs:NMTOKEN">
												<xs:enumeration value="H5T_STR_NULLTERM"/>
												<xs:enumeration value="H5T_STR_NULLPAD"/>
												<xs:enumeration value="H5T_STR_SPACEPAD"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="TimeType">
								<xs:complexType/>
							</xs:element>
							<xs:element name="BitfieldType">
								<xs:complexType/>
							</xs:element>
							<xs:element name="OpaqueType">
								<xs:complexType/>
							</xs:element>
							<xs:element name="ReferenceType">
								<xs:complexType>
									<xs:choice>
										<xs:element name="ObjectReferenceType">
											<xs:complexType/>
										</xs:element>
										<xs:element name="RegionReferenceType">
											<xs:complexType/>
										</xs:element>
									</xs:choice>
								</xs:complexType>
							</xs:element>
							<xs:element name="EnumType">
								<xs:complexType>
									<xs:sequence maxOccurs="unbounded">
										<xs:element name="EnumElement" type="xs:string"/>
										<xs:element name="EnumValue" type="xs:string"/>
									</xs:sequence>
									<xs:attribute name="Nelems" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:choice>
					</xs:complexType>
				</xs:element>
				<xs:element name="CompoundType">
					<xs:complexType>
						<xs:sequence maxOccurs="unbounded">
							<xs:element name="Field">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="DataType"/>
										<xs:element name="FieldDims">
											<xs:complexType>
												<xs:sequence maxOccurs="unbounded">
													<xs:element name="FieldDimension">
														<xs:complexType>
															<xs:attribute name="DimSize" type="xs:string" default="0"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="Ndims" type="xs:string"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="FieldName" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="VLType">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="DataType"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="Dataset">
		<xs:complexType>
			<xs:choice>
				<xs:element name="DatasetPtr">
					<xs:complexType>
						<xs:attribute name="OBJ-XID" type="xs:IDREF" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:sequence>
					<xs:element name="StorageLayout" minOccurs="0">
						<xs:complexType>
							<xs:choice>
								<xs:element name="ContiguousLayout">
									<xs:complexType/>
								</xs:element>
								<xs:element name="ChunkedLayout">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Compression">
												<xs:complexType/>
											</xs:element>
											<xs:element name="ChunkDimension" maxOccurs="unbounded">
												<xs:complexType>
													<xs:attribute name="DimSize" type="xs:string" default="0"/>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
										<xs:attribute name="Ndims" type="xs:string" use="required"/>
									</xs:complexType>
								</xs:element>
								<xs:element name="CompactLayout">
									<xs:complexType/>
								</xs:element>
								<xs:element name="ExternalLayout">
									<xs:complexType>
										<xs:sequence maxOccurs="unbounded">
											<xs:element name="ExternalFileInfo">
												<xs:complexType>
													<xs:attribute name="FileName" type="xs:string"/>
													<xs:attribute name="ExternalFileOffset" type="xs:string"/>
													<xs:attribute name="ExternalFileSize" type="xs:string"/>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:choice>
						</xs:complexType>
					</xs:element>
					<xs:element ref="Dataspace"/>
					<xs:choice>
						<xs:element ref="DataType"/>
						<xs:element ref="NamedDataTypePtr"/>
					</xs:choice>
					<xs:element ref="Attribute" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="Data"/>
				</xs:sequence>
			</xs:choice>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="OBJ-XID" type="xs:ID" use="required"/>
			<xs:attribute name="Parents" type="xs:IDREFS" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Dataspace">
		<xs:complexType>
			<xs:choice>
				<xs:element name="ScalarDataspace">
					<xs:complexType/>
				</xs:element>
				<xs:element name="SimpleDataspace">
					<xs:complexType>
						<xs:sequence maxOccurs="unbounded">
							<xs:element name="Dimension">
								<xs:complexType>
									<xs:attribute name="DimSize" type="xs:string" default="0"/>
									<xs:attribute name="MaxDimSize" type="xs:string"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="Ndims" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="ComplexDataspace">
					<xs:complexType/>
				</xs:element>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="Group">
		<xs:complexType>
			<xs:choice>
				<xs:element name="GroupPtr">
					<xs:complexType>
						<xs:attribute name="OBJ-XID" type="xs:IDREF" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:sequence>
					<xs:element ref="Attribute" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="Group" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="Dataset" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="NamedDataType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="SoftLink" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:choice>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="OBJ-XID" type="xs:ID" use="required"/>
			<xs:attribute name="Parents" type="xs:IDREFS" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="HDF5-File">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="UserBlock" type="xs:string" minOccurs="0"/>
				<xs:element name="SuperBlock" minOccurs="0">
					<xs:complexType>
						<xs:attribute name="FormatVersion" type="xs:string" use="required"/>
						<xs:attribute name="LengthSize" type="xs:string" use="required"/>
						<xs:attribute name="OffsetSize" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="RootGroup">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="Attribute" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element ref="Group" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element ref="Dataset" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element ref="NamedDataType" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element ref="SoftLink" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
						<xs:attribute name="Name" type="xs:string" fixed="/"/>
						<xs:attribute name="OBJ-XID" type="xs:ID" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="NamedDataType">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="NamedDataTypePtr"/>
				<xs:sequence>
					<xs:element ref="Attribute" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="DataType"/>
				</xs:sequence>
			</xs:choice>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="OBJ-XID" type="xs:ID" use="required"/>
			<xs:attribute name="Parents" type="xs:IDREFS" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="NamedDataTypePtr">
		<xs:complexType>
			<xs:attribute name="OBJ-XID" type="xs:IDREF" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="SoftLink">
		<xs:complexType>
			<xs:attribute name="LinkName" type="xs:string" use="required"/>
			<xs:attribute name="Target" type="xs:string" use="required"/>
			<xs:attribute name="TargetObj" type="xs:IDREF"/>
			<xs:attribute name="OBJ-XID" type="xs:ID" use="required"/>
			<xs:attribute name="Source" type="xs:IDREF" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
